<link rel="stylesheet" href="\css\nav.css">
<div class="navbar-container">
    <ul class="horizontal-list">
        <li><a href="/">Home </a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/formulas">Formulas</a></li>
        <li><a href="/advisor">Advisor Chat</a></li>
        <li><a href="/query">Database</a></li>
    </ul>
</div>
