<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="\css\main.css">
</head>
<body>
    <div class="container">
        <h1>Personal Finance Management</h1>
        <form action="/report" method="POST">
            <div class="form-group">
            <label for="months">Select a Month:</label>
                <select id="months" name="months">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
            <div class="form-group">
                <label for="income">Monthly Income:</label>
                <input type="number" id="income" name="income" required>
            </div>
            <div class="form-group">
                <label for="expenses">Monthly Expenses:</label>
                <input type="number" id="expenses" name="expenses" required>
            </div>
            <div class="form-group">
                <label for="savings">Monthly Savings Goal:</label>
                <input type="number" id="savings" name="savings" required>
            </div>
            <div>
                <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
            </div>
            <button type="submit">Calculate</button>
        </form>
    </div>
</body>
</html>